@import '../../style/vars.scss';

.genrePage{
    display: flex;
    flex-direction: column;
}

.pageInner{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    flex-wrap: wrap;
    width: $base-width-content;
    background: rgba(103, 101, 113, 0.34);
    border: 1px solid $base-border-color;
    backdrop-filter: blur(20px);
    padding: 20px;
}

.genreInfo{
    color: #fff;
    backdrop-filter: blur(25px);
    background: rgba(103, 101, 113, 0.34);
    border: 1px solid $base-border-color;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination{
    color: #fff;
    backdrop-filter: blur(25px);
    background: rgba(103, 101, 113, 0.34);
    border: 1px solid $base-border-color;
    border-top: 0;
    padding: 20px;
    letter-spacing: 3px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
       color: #fff !important;
       border: 1px solid $base-border-color !important; 
    }
}

.progress {
    margin-top: 100px;
}

.notFound{
    margin: 0 auto;
}