.modalMovie{
    position: absolute;
    top: 2px;
    left: 3px;
    z-index: 10;
   
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;
        width: 300.5px;
        background: rgba(60, 59, 66, 0.94);
        padding: 5px 0;
        border: none;
        cursor: pointer;
        transition: all 0.3s;

        &:hover{
            color: #000;
            background: rgba(230, 224, 255, 0.84);
        }

        span {
            font-size: 30px;
            padding-left: 10px;
            padding-bottom: 5px;
        }
    }
}