
 html{
  box-sizing: border-box;
}

.App {
  text-align: center;
  box-sizing: border-box;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-top: 100px;
  min-height: 100vh;
  background-image: url('https://i.ibb.co/qxVW9F7/Pngtree-cinema-stage-333472.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}


.App-header {
  width: 100%;
  background-color: #000000;
  /* min-height: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
  margin-bottom: 15px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.movie-page-poster,
.movie-item {
  cursor: pointer;
  border: 4px solid rgba(123, 196, 219, 0.86);
  max-width: 227px;
  height: 337px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.movie-item-play {
  width: 70px;
  height: 70px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: all 0.2s;
}
.movie-item:hover .movie-item-play{
  opacity: 1;
}

.movie-item:hover .movie-item-poster{
  opacity: 0.3;
}

.movie-item img{
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}


.movie-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  flex-wrap: wrap;
  max-width: 1015px;
  background: rgba(103, 101, 113, 0.34);
  border: 1px solid rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(20px);
  padding: 20px;
}


.movie-page{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  max-width: 1000px;
  background: rgba(63, 61, 75, 0.97);
  z-index: 1;
  color: #fff;
  border-radius: 15px;
  margin: 0 50px;
}

.movie-page__inner{
  position: relative;
  display: flex;
  gap: 20px;
  z-index: -1;
}
.movie-page__total{
  z-index: 1;
  padding-right: 10px;
  padding-right: 70px;
}

.background-movie{
  border-radius: 15px 15px 0 0;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 1;
}


.no-movie-find{
  color: #fff;
}
.ua-img{
  border: none;
  /* border-bottom-left-radius: 50%; */
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  object-fit: contain;
  /* background-color: #fff; */
}



.movie-list-recomdation{
  padding: 0 30px 30px 30px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  top: 0;
}
.swiper{
  padding: 0px;
}



.movie-page-genres,
.movie-page-actors {
  display: flex;
  gap: 5px;
}
.movie-page-genre-item,
.movie-page-actors-item{
  cursor: pointer;
}

.movie-page-genre-item:hover,
.movie-page-actors-item:hover{
  color: #6578d7;
}

