@import '../../style/vars.scss';

.moviePlayer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;

  iframe{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.44);
  }
}

.language{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;

  p{
    font-size: 18px;
    line-height: 1.5;
  }
}

.progress {
  margin: 10px auto;
}

@media screen and (max-width: 600px) {
  .moviePlayer{
    padding: 0 5px;
  }
}
  