@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');
@import '../style/vars.scss';

body {
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  @extend %os-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul { list-style: none; padding-left: 0;}

label {
  color: #fff !important;
}

.app {
  position: relative;
  padding-bottom: 15px;
  padding-top: 80px;
  min-height: 100vh;
  background-image: url('https://i.ibb.co/qxVW9F7/Pngtree-cinema-stage-333472.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  &__right{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 350px;
    margin-right: 50px;

    h3 {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .app__right{
    margin-left: 270px;
  }
}

@media screen and (max-width: 1300px) {
  .app__right{
    margin-left: 50px;
  }
}

@media screen and (max-width: 1080px) {
  .app__right{
    margin: 0px 10px;
  }
}

@media screen and (max-width: 600px) {
  .app__right{
    margin: 0px 5px;
  }
}